<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" name="OAuthTester"
               packages="com.pearson.equella.support.oauthtester">
  
  <Filter type="ThresholdFilter" level="info"/>
 
  <Appenders>
    <Appender type="Console" name="STDOUT">
      <Layout type="PatternLayout" pattern="%d %-5p [%c{1}]: %m%n"/>
   </Appender>
  </Appenders>
 
  <Loggers>
    <Root level="warn">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
 
</Configuration>